html{
    background: #5865F2;
    margin-top: 100px;
     
}
.container{
    background: #5865F2;
}
 
.our-team{
    padding: 20px 15px 30px;
    background: #36393E;
    border-radius: 15px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #36393E;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #5865F2;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #5865F2;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #57F287;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #5865F2;
    border: 1px solid #5865F2;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #5865F2;
    color: #2e282a;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

div.centr {
    text-align: center;
}
button {
    display: inline-block;
    background-color: #2e282a;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  button:hover {
    background-color: #5865F2;
    text-decoration: none;
  }